@font-face { font-family: RobotoMono; src: url('fonts/RobotoMono.ttf'); } 
@font-face { font-family: RobotoThin; src: url('fonts/RobotoThin.ttf')}
@font-face { font-family: RobotoLight; src: url('fonts/RobotoMono-Light.ttf')}

h1{
    font-family: RobotoMono;
    float:left;
}
p{
    font-family: RobotoLight;
    float:left;
}
img{
    float: right;
}
