@font-face { font-family: RobotoMono; src: url('fonts/RobotoMono.ttf'); } 
@font-face { font-family: RobotoThin; src: url('fonts/RobotoThin.ttf')}
@font-face { font-family: RobotoLight; src: url('fonts/RobotoMono-Light.ttf')}

h1{
    font-family: RobotoMono;
}
p{
    font-family: RobotoLight;
}
img{
    float: right;
    margin-right: 50px;
}
.bottom{
    font-family: RobotoThin;
    margin:auto;
    font-size:10px;
}
