@font-face { font-family: RobotoMono; src: url('../fonts/RobotoMono.ttf'); } 
@font-face { font-family: RobotoThin; src: url('../fonts/RobotoThin.ttf')}
@font-face { font-family: RobotoLight; src: url('../fonts/RobotoMono-Light.ttf')}

h1{
    font-family: RobotoMono;
}
h2{
    font-family: RobotoThin;
}
h3{
    font-family: RobotoThin;
    margin-top: 25px;
    margin-bottom: 25px;
}
body p{
    font-family: RobotoLight;
}
body{
    margin-left:325px;
    margin-right:325px;   
}
img{
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bottom{
    margin:auto;
    font-family: RobotoThin;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    align-content: stretch;
    align-items: center;
    width:400px;
}
.intro{
    margin-bottom:50px;
}
.genderimgs{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-column-gap: 20px;
}

.genderimgs img {
  width: 100%;
}
@media screen and (max-width: 650px) {
    img {
         width: 180px;
         height:200px;
    }
}
