@font-face { font-family: RobotoMono; src: url('../fonts/RobotoMono.ttf'); } 
@font-face { font-family: RobotoThin; src: url('../fonts/RobotoThin.ttf')}
@font-face { font-family: RobotoLight; src: url('../fonts/RobotoMono-Light.ttf')}

h1{
    font-family: RobotoMono;
}
h2{
    font-family: RobotoThin;
}
h3{
    font-family: RobotoThin;
    margin-top: 40px;
    margin-bottom: 15px;
}
.exception{
    margin-bottom:0px;
}
body p{
    font-family: RobotoLight;
    margin-bottom:25px;
}
body{
    margin-left:375px;
    margin-right:375px;   
}
img{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bottom{
    margin:auto;
    font-family: RobotoThin;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    align-content: stretch;
    align-items: center;
    width:400px;
}
.intro{
    margin-bottom:10px;
}
.genderimgs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  grid-column-gap: 20px;
  margin:auto;
}
.exp{
    display: inline-block;
    margin-top:0px;
    margin-bottom:5px;
}
.genderdisparity h3{
    margin-top:10px;
}
.genderdisparity img{
    margin-bottom:0px;
}
.genderimgs img {
  width: 100%;
  margin-top:0px;
  margin-bottom:0px;
}
@media screen and (max-width: 650px) {
    img {
         width: 180px;
         height:200px;
    }
}
