@font-face { font-family: RobotoMono; src: url('../fonts/RobotoMono.ttf'); } 
@font-face { font-family: RobotoThin; src: url('../fonts/RobotoThin.ttf')}
@font-face { font-family: RobotoLight; src: url('../fonts/RobotoMono-Light.ttf')}

h1{
    font-family: RobotoMono;
}
h2{
    font-family: RobotoThin;
}
h3{
    font-family: RobotoThin;
    margin-top: calc(40%/9.20);
    margin-bottom: calc(15%/9.20);
}
.exception{
    margin-bottom:0%;
}

body p{
    font-family: RobotoLight;
    margin-bottom:calc(25%/9.20);
}
body{
    margin-left:calc(375%/12.5);
    margin-right:calc(375%/12.5);   
}
img{
    margin-top: calc(15%/9.20);
    margin-bottom: calc(15%/9.20);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sidebar{
    position: absolute;
    left:90%;
    top:0px;
}
.sidebar p{
    font-family: RobotoMono;
    text-align: right;
}
.bottom{
    margin:auto;
    font-family: RobotoThin;
    margin-bottom: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    align-content: stretch;
    align-items: center;
    width:calc(400%/14.816);
}
.intro{
    margin-bottom:calc(10%/9.20);
}
.genderimgs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  grid-column-gap: calc(20%/14.816);
  margin:auto;
}
.exp{
    display: inline-block;
    margin-top:0%;
    margin-bottom:calc(5%/9.20);
}
.genderdisparity h3{
    margin-top:calc(10%/14.816);
}
.genderdisparity img{
    margin-bottom:0%;
}
.genderimgs img {
  width: 100%;
  margin-top:0%;
  margin-bottom:0%;
}
object{
    display: block;
    width:450px;
    height:550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:-15px;
}
.legend {
    background-color: #fff;
    font: 12px/20px RobotoMono;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
    margin-bottom:-10px;
  }
    
  .legend h4 {
    margin: 0 0 10px;
  }
  .legend h5{
    margin-top:5px;
    font-size: 11px;
  }
    
  .legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
  }
@media screen and (max-width: calc(650%/14/816)) {
    img {
         width: calc(180%/14.816);
         height:calc(200%/14.816);
    }
}
